# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directories
node_modules/
dist/
!/packages/vue-diod/docs/.vitepress/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Eventual .env files
.env
